@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --purple-100: hsl(254, 88%, 90%);
    --purple-500: hsl(256, 67%, 59%);
    --yellow-100: hsl(31, 66%, 93%);
    --yellow-500: hsl(39, 100%, 71%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%)
}

body {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.item {
    padding: 1rem;
}

.item:nth-child(1) {
    background-color: var(--yellow-100);
}

.item:nth-child(2) {
    background-color: var(--purple-500);
}

.item:nth-child(3) {
    background-color: var(--purple-100);
}

.item:nth-child(4) {
    background-color: var(--white);
}

.item:nth-child(5) {
    background-color: var(--yellow-500);
}

.item:nth-child(6) {
    background-color: var(--yellow-500);
}

.item:nth-child(7) {
    background-color: var(--white);
}

.item:nth-child(8) {
    background-color: var(--purple-500);
}



